{{!-- <section class="vh-100 pt-5">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100 ">
      
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form action="/admin/login" method="post">
          <h4 class="text-dark text-center">Admin Login</h4>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Email address</label>
            <input type="email" id="form1Example13" name="email" class="form-control form-control-lg" required />
            
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example23">Password</label>
            <input type="password" id="form1Example23" name="password" class="form-control form-control-lg" required />
            
          </div>

          <div class="d-flex justify-content-around align-items-center mb-4">

            <a href="#!">Forgot password?</a>
          </div>

          {{!-- {{#if adminLoggErr}}
          <p class="text-danger">Invalid email or password</p>
          {{/if}} --}}



          <!-- Submit button -->
          {{!-- <button type="submit" class="btn  btn-lg btn-block btn-style">Log in</button>
          

        </form>
      </div>
    </div>
  </div>
</section> --}} <section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">

      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form id="adminlogin" action="/admin/login" method="post">
          <h4 class="my-4">Admin voicedots...</h4>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Enter Email </label>
            <input type="email" id="form1Example13" name="email" class="form-control form-control-md" />

          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example23">Enter Password</label>
            <input type="password" id="form1Example23" name="password" class="form-control form-control-md" />

          </div>



          {{#if adminLoginErr}}
          <p class="text-danger">Invalid Username or Password</p>
          {{/if}}

          <!-- Submit button -->
           <div class="col-md-12 text-center ">
              <button type="submit" class=" btn btn-md btn-block mybtn btn-primary tx-tfm mt-4" style="border:none ;background-color: #D19C97 !important;">Login</button>
            </div>

          <div class="divider d-flex align-items-center my-4">
            
          </div>
        </form>

         