<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<style>
    body {
    background: #D19C97;;
}
.page-wrap {
    min-height: 100vh;
}
</style>


<div class="page-wrap d-flex flex-row align-items-center" style="background-color: rgba(255, 191, 191, 1);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">The page you are looking for was not found.</div>
                     
                    <h2>{{error.status}}</h2>
                    {{message}}
               <a href="/" class="btn btn-link">Back to Home</a>
           
            </div>
        </div>
    </div>
</div>
